nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    transition: all .2s ease;
    border: 0;
    background: transparent;
    padding: .75rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    background: #FF2F56;
    &:hover {
        color: #fff;
    }
}